body {
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
}

h1.title {
    text-align: center;
    /*
    position: relative;
    left: 50%;
    */
    color: rgb(73, 110, 235);
}



.player1-grid.number, .player2-grid.number, .computer-grid.number {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    display: grid;
    grid-template-rows: 2fr auto 3fr;
    height: 100%; 
    background-color: rgb(255, 255, 255);

    gap: 2em;
}

.game-rules-btn {
    position: absolute;
    left: 90%;
    top: 3.4%;

    color: rgb(73, 110, 235);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding: 4px 8px;
}

.game-rules-overlay {
    text-align: center;
}

.game-rules-title {
    color: rgb(73, 110, 235);
}

#gameEndingOverlay {
    display: none;
    background-color: lightblue;
    flex-direction: column;
    height: auto;

}

.reset-btn-div, .refresh-btn-div {
    text-align: center;
    padding: 16px;
}

.game-end-btn-container {
    display: flex;
    justify-content: center;
}

.welcome-title {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: flex-end;

    color: rgb(73, 110, 235);
}

.player-selection {
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: rgb(255, 255, 255);
    /* height: 100%; */
    width: 100%;
    flex: 5;
    align-items: flex-start;
}

.player-selection-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.player-2-btn-container, .computer-btn-container {
    display: flex;
    justify-content: center;
}

.player-2-btn, .computer-btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

#hit, #revealedMiss {
    background-color: #bbb2b279;
}

#revealedMiss {
    color: rgb(118, 115, 115);
}

.player1-grid.number.ship-present, .player2-grid.number.ship-present, .computer-grid.number.ship-present {
    color: red;
}

/* SHIP PLACING */
div.player1-grid.number.highlight, div.player2-grid.number.highlight, div.computer-grid.number.highlight {
    /* CHOSE BORDER AS IT IS EASIER TO SEE WHEN PLACING */
    border: 2px solid rgb(38, 209, 38);
}

div.player1-grid.number.not-valid, div.player2-grid.number.not-valid {
    /* APPLYING BORDER ALLOWS USER TO DETERMINE WHAT IS BEHIND THE CURSOR
    NECESSARY TO REDUCE WIDTH AND HEIGHT BY BORDER FOR NO BUGS */
    border: 2px solid red;
    width: 28px;
    height: 28px;
}

.shaking-animation {
    animation-name: shakeAnimation;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}

@keyframes shakeAnimation {
    0% { transform: translateX(0); }
    15% { transform: translateX(-5px); }
    30% { transform: translateX(5px); }
    45% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }


/* DRAGGABLE SHIPS */
.ship-container-1, .ship-container-2, .ship-container-3 {
    display: grid;
    align-items: end;
}

.ships-container {
    display: flex;
    gap: 1em;
    grid-area: 1 / 1 / -2 / 1;
    padding: 1em;
}

.inside-ship {
    width: 32px;
    height: 32px;
    border: 2px solid darkblue;
    position: relative;
}

.draggable-ship[data-size="1"], .draggable-ship.vertical[data-size="1"] {
    width: 32px;
    height: 32px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship[data-size="2"] {
    width: 32px;
    height: 64px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship.vertical[data-size="2"] {
    width: 64px;
    height: 32px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship[data-size="3"] {
    width: 32px;
    height: 96px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship.vertical[data-size="3"] {
    width: 96px;
    height: 32px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship[data-size="4"] {
    width: 32px;
    height: 128px;
    outline: 2px solid darkblue;
    position: relative;
}

.draggable-ship.vertical[data-size="4"] {
    width: 128px;
    height: 32px;
    outline: 2px solid darkblue;
    position: relative;
}


h3.title {
    grid-area: 1 / 2;
}

#player1Grid, #player2Grid, #computerGrid {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    grid-gap: 2px;
    background-color: lightblue;
    border: 2px solid lightblue;

    grid-area: 2 / 2;
    height: max-content;
    
}

#player1GridOverlay, #player2GridOverlay, #computerGridOverlay {
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(237, 233, 233);
}

.grid-containers {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

/* ONLY colour player grid */
.ship-present.reveal {
    outline: 2px solid darkblue;
    width: 100%;
    height: 100%;
}

.start-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start-button, .reset-btn, .randomise-btn, .confirm-btn, .horizontal-or-vertical-btn, .refresh-btn {
    font-size: large;
    padding: 4px 8px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.placing-div {
    font-size: large;
    color: rgb(73, 110, 235);
    display: flex;
    align-items: center;
}

.horizontal-or-vertical-btn {
    min-width: 134.67px
}

h3 {
    text-align: center;
}

/* GRID CONTAINERS */
.player1-grid-container, .player2-grid-container, .computer-grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1em;

    padding-right: 1em; /* Keeps the athestetic with the overlay even */
}

.btn-container {
    display: flex;
    justify-content: space-between;
    grid-area: 3 / 1 / 3 / -1;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
}

.ship-present.reveal.sunk {
    outline: 2px solid red;
    width: 100%;
    height: 100%;
}

.draggable-ship.sunk {
    outline: 2px solid red;
}

.draggable-ship.placing {
    outline: 2px solid rgb(38, 209, 38);
}

.draggable-ship.invisible {
    outline: 2px solid white;
}


/* COLOURS FOR SPAN'S IN TURN TEXT */
/* HIT */
.highlighted.red {
    color: lightcoral;
}

/* SUNK */
.highlighted.orange {
    color: orange;
}

/* MISSED */
.highlighted.blue {
    color: lightskyblue;
}

/* PLACING */
.highlighted.green {
    color: rgb(38, 209, 38);
}